@charset "UTF-8";
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(65deg, #bccbd1 0%, #80caec 100%);
 
}

a{
  color:inherit;
}

main{
  margin-top: 100px;
  min-height: 100vh;

}
.logo {
  width: 50px;
  height: 50px;
}

.menu {
  margin-left: 20px;
  padding-left: 15px;
}

.titulo {
  margin-left: 20px;
  font-size: 30px;
  color: black;
}

.sobre {
  margin-top: 50px;
}

.titulo__contacto {
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-top: 25px;
}

.titulo__confiteria {
  text-align: center;
  color: black;
  margin-left: 28px;
  margin-top: 25px;
}

.confiteria {
  width: 800px;
  height: 300px;
}

.titulo__cabaña {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-family: cursive;
  margin-bottom: 10px;
}

.cabañas {
  margin: 10px 20px 10px 50px;
}

.mapa {
  display: flex;
  justify-content: end;
  margin: 20px;
}

.pie {
  background-color: skyblue;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
}

.pie__red {
  display: flex;
}

.pie__red--uno {
  display: flex;
  margin: 10px;
}

.ubicacion {
  font-weight: bold;
}

.redes__img--wap {
  height: 25px;
}

.redes__img--insta {
  height: 25px;
}

.redes__img--maps {
  height: 30px;
}

@media (max-width: 425px) {
  .logo {
    width: 30px;
    height: 30px;
  }
  main {
    margin-top: 70px;
  }
  .titulo {
    font-size: 13px;
    margin-right: 10px;
  }
  .sobre {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cabañas {
    margin: 10px;
  }
  .confiteria {
    height: 100%;
    width: 100%;
  }
  .ubicacion {
    font-size: 15px;
    font-weight: bolder;
  }
  .logo__dos {
    height: 30px;
    width: 30px;
  }
  .redes {
    margin-right: 10px;
  }
  .redes__img--insta {
    height: 20px;
  }
  .redes__img--wap {
    height: 20px;
  }
  .redes__img--maps {
    height: 25px;
  }
  .titulo__cabaña {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-family: cursive;
    font-size: 20px;
  }
  .mapa {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 20px 10px 20px 10px;
  }
}
