




.pie{
    background-color:skyblue ;
    display: flex;
   width: 100%;
   justify-content: space-between;
   padding-top: 10px;
   padding-left: 10px;
   &__red{
    display: flex;
   
   }
   &__red--uno{
       display: flex;
      margin: 10px;
   }

}

  
.ubicacion{
    font-weight: bold;

}






.redes{
  
   margin-right: 10px;

&__img--insta{
    height: 25px;

}
&__img--wap{
    
    height: 25px;
    
    
   
}
&__img--maps{
    height: 30px;
   
}
}

