




.pie{
    background-color:skyblue ;
    display: flex;
   width: 100%;
   justify-content: space-between;
   padding-top: 10px;
   padding-left: 10px;
   &__red{
    display: flex;
   
   }
   &__red--uno{
       display: flex;
      margin: 10px;
   }

}

  
.ubicacion{
    font-weight: bold;

}





$redes:( 
    wap: 25px,
    insta: 25px,
    maps: 30px
);
@each $clave, $valor in $redes{
    .redes__img--#{$clave} {
      height:$valor;  
    }
}

