.sobre{
    margin-top: 50px;
}








.titulo__cabaña{
    text-align: center;
    text-transform: uppercase;
    color:black;
    font-family: cursive;
    margin-bottom: 10px;
}




.cabañas{
    margin: 10px 20px 10px 50px;
}
.mapa{
    display: flex;
    justify-content: end;
    margin: 20px;
}
